.gegevens {
    padding-top: 2%;
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.gegevens h1 {
    grid-column: 1/7;
    padding-left: 3%;
}

.form-inloggen {
    grid-column: 2/7;
}

.inlog-form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, minmax(100px, auto));
    position: relative;
	align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

Label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

#lname, #fname, #subject {
    padding: 2%;
    border-radius: 15px;
    font-size: 16pt;
    width: 87%;
    border-color: black;
    border-width: 2px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    border-radius: 15px;
    border-width: 2px;
    border-color: black;
    padding: 2%;
}


#submit {
    padding: 2%;
    border-radius: 15px;
    background-color: white;
}

select {
    padding: 3%;
    border-radius: 15px;
    padding-bottom: 5%;

}