.niveau {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));
    position: relative; 

}

#kleuter {
    grid-column: 3/6;
    width: 100%;
}

#lager {
    grid-column: 8/11;
    width: 100%;
    padding-bottom: 40px;
}

#secundair {
opacity: 100;
pointer-events: auto;
grid-column: 3/6;
grid-row: 2;
z-index: 1;

}

#secundair_image {
    grid-column: 3/6;
    grid-row: 2;
    width: 100%;
    opacity: 0;
}

#secundair_image2 {
    grid-column: 3/6;
    grid-row: 2;
    width: 100%;
    opacity: 100;
    z-index: -1;
}


#dutch {
opacity: 100;
pointer-events: auto;
grid-column: 1/6;
grid-row: 1;
z-index: 1;

}

#dutch_image {
    grid-column: 3/6;
    grid-row: 1;
    width: 100%;
    opacity: 0;
    z-index: -1;
}

#dutch_image2 {
    grid-column: 3/6;
    grid-row: 1;
    width: 100%;
    opacity: 100;
    z-index: -2;
}

#hogeschool {
    grid-column: 8/11;
    grid-row: 2;
    width: 100%;
}

.talen {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));
    position: relative; 

}

#dutch {
    grid-column: 3/6;
    width: 100%;
}

#english {
    grid-column: 8/11;
    width: 100%;
    padding-bottom: 40px;
}

#french {
    grid-column: 3/6;
    grid-row: 2;
    width: 100%;
}

#spanish {
    grid-column: 8/11;
    grid-row: 2;
    width: 100%;
}