

h1, p {
    text-align: center;
     padding-bottom: 10%;
}

h1 {
    padding-top: 10%;
    padding-bottom: 2%;
   
}

/* Grids OUT */

.kleuter {
     grid-column: 4/6;
}

.kleuter a img {
     width: 100%;
}


.niveau {
     margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, minmax(50px, auto));
    position: relative;
}


.lager {
     grid-column: 8/10;
}

.lager a img {
     width: 100%;
}

.secundair {
     grid-column: 4/6;
     grid-row: 2;
}

.secundair a img {
     width: 100%;
}


.hogeschool {
     grid-column: 8/10;
     grid-row: 2;
}

.hogeschool a img {
     width: 100%;
}


.talen {
     margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, minmax(50px, auto));
    position: relative;
    padding-bottom: 5%;
}


.nederlands {
     grid-column: 4/6;
}

.nederlands a img {
     width: 100%;
}

.frans {
     grid-column: 8/10;
}

.frans a img {
     width: 100%;
}


.engels {
     grid-column: 4/6;
     grid-row: 2;
}

.engels a img {
     width: 100%;
}

.spaans {
     grid-column: 8/10;
     grid-row: 2;
}

.spaans a img {
     width: 100%;
}