

/* Grids IN */

.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, minmax(20px, auto));
    position: relative;
}

.wrapper2 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, minmax(20px, auto));
    position: relative;
    align-items: center;
}


.wrapper3 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, minmax(20px, auto));
    position: relative;
    align-items: center;
}


/* Grids OUT */



.wrapper {
    background-image: url(../images_website/newsImage.png), url(../images_website/newsBox.png);
    background-size: 36.05%, 70%;
    background-position-x: 76.2%, center;
    background-position-y: 49.15%, center;
    background-repeat: no-repeat, no-repeat;
    padding-top: 20%;
    padding-bottom: 10%;

}
.nieuwsKaartje {

    grid-column: 6 / 11;
    grid-row: 3;
}


.nieuwsText h2 {
    font-weight: bold;
    padding-bottom: 15%;
}

.nieuwsText h5 {
    padding-bottom: 5%
}



.wrapper2 {
    background-image: url(../images_website/newsImage2.png), url(../images_website/newsBox2.png);
    background-size: 35.65%, 70%;
    background-position-x: 76.3%, center;
    background-position-y: 49%, center;
    background-repeat: no-repeat, no-repeat;
    padding-top: 20%;
    padding-bottom: 10%;

}
.nieuwsKaartje2 {

    grid-column: 6 / 11;
    grid-row: 3;
}


.nieuwsText2 h2 {
    font-weight: bold;
    padding-bottom: 15%;
}

.nieuwsText2 h5 {
    padding-bottom: 5%
}




.wrapper3 {
    background-image: url(../images_website/newsImage3.png), url(../images_website/newsBox2.png);
    background-size: 27.45%, 70%;
    background-position-x: 79%, center;
    background-position-y: 49.5%, center;
    background-repeat: no-repeat, no-repeat;
    padding-top: 20%;
    padding-bottom: 10%;

}
.nieuwsKaartje3 {

    grid-column: 6 / 11;
    grid-row: 3;
}



.nieuwsText3 h2 {
    font-weight: bold;
    padding-bottom: 15%;
}

.nieuwsText3 h5 {
    padding-bottom: 5%
}