@media (max-width: 480px) {
	/* Copied code */

	.green {
		background-color: #3fa461;
		width: 100%;
	}

	header {
		grid-column: 1/13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	header img {
		grid-column: 1/2;
		width: 100%;
	}

	header nav {
		grid-column: 5/13;
		align-self: center;
	}

	header nav ul {
		margin: 0;
		padding: 0;
		float: right;
	}

	header nav ul li {
		display: inline;
		padding-left: 10px;
	}

	header nav ul li a {
		color: white;
		text-decoration: none;
	}

	.blue {
		background-color: #57b0d9;
	}

	.wrapper2 {
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(16, minmax(20px, auto));
		position: relative;
		color: white;
	}

	/* Non copied code */

	body {
		overflow-x: hidden;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

	.bigTitle1 {
		grid-column: 1 / 13;
		grid-row: 2 / 3;
		font-size: 16pt;
		font-weight: 550;
		text-align: center;
	}

	.kaart {
		grid-column: 1/ 9;
		grid-row: 1 / 4;
	}

	.kaart img {
		width: 150%;
	}

	.participants {
		grid-row: 5 / 6;
		font-size: 16pt;
		font-weight: 550;
		grid-column: 3 / 13;
	}

	.participantsText {
		grid-row: 8 / 12;
		grid-column: 2 / 12;
		text-align: center;
	}

	.number {
		grid-row: 7 / 12;
		grid-column: 5 / 12;
		font-size: 16pt;
	}

	.firstWrapper {
		width: 90%;
		height: 1%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(3, minmax(70px, auto));
		position: relative;
	}
}
