@media (max-width: 488px) {
	/* Copied code */

	.green {
		background-color: #3fa461;
		width: 100%;
	}

	header {
		grid-column: 1/13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	header img {
		grid-column: 1/2;
		width: 100%;
	}

	header nav {
		grid-column: 5/13;
		align-self: center;
	}

	header nav ul {
		margin: 0;
		padding: 0;
		float: right;
	}

	header nav ul li {
		display: inline;
		padding-left: 10px;
	}

	header nav ul li a {
		color: white;
		text-decoration: none;
	}

	.blue {
		background-color: #57b0d9;
	}

	.wrapper2 {
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(5, minmax(80px, auto));
		position: relative;
	}

	/* Non copied code */

	body {
		overflow-x: hidden;
	}

	.bigTitle1 {
		grid-column: 1 / 13;
		grid-row: 2 / 3;
		font-size: 16pt;
		font-weight: 550;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

	.kaart img {
		width: 500%;
		height: 90%;
		margin-bottom: 100%;
	}

	.kaart h1 {
		position: absolute;
		align-items: center;
	}

	.firstWrapper {
		width: 90%;
		height: 1%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(3, minmax(70px, auto));
		position: relative;
	}
}
