@import url("https://use.typekit.net/xfj4qye.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/*  */
/* Colors */
/*  */

.green {
	background-color: #27994e;
}

.blue {
	background-color: #57b0d9;
}

.lightBlue {
	background-color: #abd7ec;
}

.purple {
	background-color: #7083e3;
}

.red {
	background-color: #e63737;
}

/**/
.white {
	color: white;
}

.black {
	color: black;
}

/*  */
/* Composition */
/*  */

.fullWidth {
	width: 100vw;
}

.halfWidth {
	width: 50vw;
}

.button {
	transition: transform 0.2s ease;
}
.button img:hover {
	transform: translateY(-5px);
}

/*  */
/* Font */
/*  */

body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-size: 16pt;
}

h3 {
	font-family: "Roboto-Slab";
	font-size: 16pt;
	font-weight: 900;
}

h2 {
	font-family: "Roboto-Slab";
	font-size: 20pt;
	font-weight: 900;
}

h1 {
	font-family: "Roboto-Slab";
	font-size: 24pt;
	font-weight: 900;
}

a {
	text-decoration: none;
}

a:hover {
	width: 110%;
	height: 110%;
}
